---
  layout: default
  title: Eleventy Template title
  eleventyNavigation:
    key: Home
    title: Home
    order: 1
---

  <!-- ##### Hero Area Start ##### -->
  <div class="hero-area">
    <div class="welcome-slides owl-carousel">

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url(/assets/img/bg-img/1.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-8">
              <div class="welcome-content">
                <h2 data-animation="fadeInUp" data-delay="200ms">The beauty of your garden is the true center of our universe.</h2>
                <p data-animation="fadeInUp" data-delay="400ms">We provide
                  hassle-free backyard transformations with the softest and most realistic turf grass.
              </p>
                <a href="/contact/" class="btn famie-btn mt-4" data-animation="bounceInUp" data-delay="600ms">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url(/assets/img/bg-img/7.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-8">
              <div class="welcome-content">
                <h2 data-animation="fadeInDown" data-delay="200ms">We serve all types of homes and businesses</h2>
                <p data-animation="fadeInDown" data-delay="400ms">Knowledgeable and dedicated to making your space appear perfectly groomed and green forever with our 100% usa manufactured turf.</p>
                <a href="/contact/" class="btn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url(/assets/img/bg-img/new.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-8">
              <div class="welcome-content">
                <h2 data-animation="fadeInDown" data-delay="200ms">Forever green with our 100% USA manufactured turf.</h2>
                <p data-animation="fadeInDown" data-delay="400ms">The king of Turf services residential, commercial, and sports. Let yourself be pleasantly surprised by the true to life appearance of our artificial grass and discover all the benefits of this beautiful product.</p>
                <a href="/contact/" class="btn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url(/assets/img/bg-img/golf.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-8">
              <div class="welcome-content">
                <h2 data-animation="fadeInDown" data-delay="200ms">Long Life Expectancy and will not fade</h2>
                <p data-animation="fadeInDown" data-delay="400ms">The King of Turf saves you money. Most of our customers see a quick return on investment after installing our artificial turf.
                  interdum mollis.</p>
                <a href="/contact/" class="btn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- ##### Hero Area End ##### -->

{% include "modules/benefits.njk"%}

  <!-- ##### Services Area Start ##### -->
  {% include "modules/what-we-have.njk" %}
  <!-- ##### Services Area End ##### -->

  {% include "modules/about-us.njk" %}

  <!-- ##### Newsletter Area Start ##### -->
  <section class="newsletter-area section-padding-100 bg-img bg-overlay jarallax" id='why-us' style="background-image: url('/assets/img/bg-img/8.jpg');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="newsletter-content">
            <!-- Section Heading -->
            <div class="section-heading white text-center">
              <p>Why The King of Turf?</p>
              <h2><span>Highest-quality products, affordable prices</span> and excellent Customer Service</h2>
             
              <img src="/assets/img/core-img/decor2.png" alt="">
            </div>
            <p class="text-white mb-50 text-center">We offer the highest-quality artificial turf with the longest warranties for every budget and every project. 
           Our products are made in the USA and we carry the latest technology in our turf products. Our artificial turf is free 
from chemicals and safe for children and pets. If you have any questions, our 5-star customer service team will help you from start to finish.</p>
          </div>
        </div>
      </div>
      <!-- Newsletter Form -->
      <div class="row justify-content-center">
        <div >
         <a href="/contact" class="btn famie-btn mt-30">Contact us</a>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Newsletter Area End ##### -->

  <!-- ##### Farming Practice Area Start ##### -->
  <section class="farming-practice-area section-padding-100-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <p>Make the world green</p>
            <h2><span>The King of Turf</span> Products Applications</h2>
            <img src="/assets/img/core-img/decor2.png" alt="">
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="100ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/assets/img/bg-img/9.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/assets/img/core-img/checkmark.png" alt="">
              </div>
              <h4>Artificial Grass for Lawns</h4>
              <p>Whether your existing lawn is large or small, we has solutions that will 
              provide you with a realistic looking and feeling artificial lawn surface that can last longer than your asphalt roof.</p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="200ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/assets/img/bg-img/10.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/assets/img/core-img/checkmark.png" alt="">
              </div>
              <h4>Synthetic Grass for Homes</h4>
              <p>It’s important to take pride in the appearance of your property. An aesthetically pleasing environment surrounding your property will not only maintain a high end image but will also increase its value. </p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/assets/img/bg-img/11.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/assets/img/core-img/checkmark.png" alt="">
              </div>
              <h4>Athletic & Sports Fields</h4>
              <p>Whether it’s a football, soccer, rugby, or an all-purpose sports field, it takes a lot of work and money to make sure it is consistently usable and presentable.
              synthetic turf, is an excellent long-term solution.</p>
              </p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="400ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/assets/img/bg-img/12.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/assets/img/core-img/checkmark.png" alt="">
              </div>
              <h4>Commercial Businesses</h4>
              <p>Artificial turf isn’t just for residential properties. Commercial establishments are upgrading their grass lawns too. From lush outdoor lawns to indoor green spaces, synthetic lawns offload the cost of irrigation while enhancing your space’s natural beauty.</p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="500ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/assets/img/bg-img/13.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/assets/img/core-img/checkmark.png" alt="">
              </div>
              <h4>Playgrounds</h4>
              <p>While it’s impossible to completely avoid childhood injuries, upgrading a playground or daycare center 
              with synthetic turf will provide a consistent, high performance, and cushioned surface for all recreational activities and play.</p>
            </div>
          </div>
        </div>

        <!-- Single Farming Practice Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="600ms">
            <!-- Thumbnail -->
            <div class="farming-practice-thumbnail">
              <img src="/assets/img/bg-img/14.jpg" alt="">
            </div>
            <!-- Content -->
            <div class="farming-practice-content text-center">
              <!-- Icon -->
              <div class="farming-icon">
                <img src="/assets/img/core-img/checkmark.png" alt="">
              </div>
              <h4>Pet Turf</h4>
              <p>Pet Turf is engineered to be resilient, non-absorbent, and permeable. It is also designed to appear and feel as realistic as natural grass. Artificial pet turf 
              will accentuate your landscaping and can be used for your entire lawn, pet run or kennel area.  </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### Farming Practice Area End ##### -->
  <!-- ##### Testimonial Area Start ##### -->
 {% include "modules/testimonial.njk" %}
  <!-- ##### Testimonial Area End ##### -->

 

  <!-- ##### News Area Start ##### -->
  <section class="news-area bg-gray section-padding-100-0" id="our-services">
    <div class="container">
      <div class="row">

        <!-- Featured Post Area -->
        <div class="col-12 col-lg-6">
          <div class="featured-post-area mb-100 wow fadeInUp" data-wow-delay="100ms">
            <img src="/assets/img/bg-img/17.jpg" alt="">
            <!-- Post Content -->
            <div class="post-content">
              <div class="post-title">Our Artificial Turf Services</div>
            </div>
          </div>
        </div>

        <!-- Single Blog Area -->
        <div class="col-12 col-lg-6 mb-100">

          <!-- Single Blog Area -->
          <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
            <!-- Post Content -->
            <div class="post-content">
              <div class="post-title">Residential and Commercial Installation</div>
              <p> To The KIng of Turf, every product is unique and requires special attention. We are a family-owned local company, and as such, we provide you with assistance from the beginning of
 your project to the very end. Our company value your property and take care of every detail. </p>
            </div>
          </div>

          <!-- Single Blog Area -->
          <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="500ms">
            <!-- Post Content -->
            <div class="post-content">
              <div class="post-title">Wholesale and Retail Trade</div>
              <p>The King of Turf has the best artificial grass at the lowest cost. For turf resellers like you who are landscapers, contractors, and handymen, 
              we offer special, below-retail pricing so 
              that you can increase your revenue and profitability by working with us. Residential and commercial turf available. </p>
            </div>
          </div>

          <!-- Single Blog Area -->
          
          <div >
            </div>
              <a href="/contact/" class="btn famie-btn mt-4  style="animation-delay: 600ms; opacity: 1;">Contact Us</a>

        </div>
      </div>
    </div>
  </section>
   {% include "modules/contact.njk" %}
