            <ul>
                {% for item in menu.categories %}
                <li>
                    <div>
                        {{ item.name }}
                    </div>
                    <div>
                        <ul>
                            {% for i in item.items %}
                                <li>
                                    {{ i.title }}------------{{ i.price }}
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                </li>
                {% endfor %}

            </ul>


